@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
  /* Colors */
  --black: #48484a;
  --blue: #3187b8;
  --blue-grey: #c4d8e7;
  --grey: #f1fafe;
  --orange-light: #ec6e4c;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: var(--blue-grey);
  color: var(--black);
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Nunito', sans-serif;
  padding: 70px 0;

  &__content {
    width: 100%;
    padding: 0 24px 40px;
    text-align: center;
  }

  &__content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    margin: 0 0 20px;
  }

  &__content p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    opacity: 90%;
  }

  &__search {
    padding: 0 24px 40px;

    &-container {
      border: 2px solid transparent;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-size: 1.8rem;
      color: var(--black);
      height: 40px;
      transition-duration: 0.5s;
      max-width: 900px;
      margin: 0 auto;

      &:hover,
      &:focus-within {
        border: 2px solid var(--blue);
        transition-duration: 0.5s;
      }

      .icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        border-radius: 100px 0 0 100px;
        border: none;
        transition-duration: 0.3s;

        &:active {
          background-color: var(--orange-light);
          transition-duration: 0.3s;
        }
      }

      input {
        width: 100%;
        height: 30px;
        outline: none;
        border-radius: 100px;
        padding-right: 15px;
        border: none;
        font-family: 'Nunito', sans-serif;
        font-size: 1.8rem;
        color: var(--blue);
        font-weight: 500;
        padding-left: 5px;
      }

      &.error {
        border: 2px solid var(--orange-light);
      }
    }

    p {
      text-align: center;
      margin: 8px 0 0;
    }

    .text-error {
      color: var(--orange-light);
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
    }
  }

  &__history {
    padding: 0 0 30px;
    max-width: 1200px;
    margin: 0 auto;

    ::-webkit-scrollbar {
      display: none;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0 0 20px;
      padding: 0 24px;
    }

    &-container {
      display: flex;
      gap: 15px;
      overflow: scroll;
      width: auto;
      padding: 0 24px;
      cursor: grab;
    }

    .city-search {
      background-color: var(--black);
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      color: var(--grey);
      min-width: 130px;
      height: 130px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition-duration: 0.5s;

      h3 {
        font-size: 1.6rem;
      }

      p:nth-child(2) {
        font-size: 4rem;
        font-weight: bold;
        margin: 5px 0;
        color: var(--orange-light);
      }

      p:nth-child(3) {
        font-size: 1.5rem;
        color: var(--blue-grey);
      }
    }
  }

  &__result {
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        'title title'
        'current daily'
        'hourly hourly';
    }

    &-title {
      font-size: 2.5rem;
      margin: 0 0 20px;
      padding: 0 24px;
      grid-area: title;
    }

    h3 {
      font-size: 1.8rem;
      padding: 0 24px;
    }

    &-current {
      margin: 20px 0 30px;
      padding: 0 24px;
      grid-area: current;

      @media screen and (min-width: 768px) { 
        
      }

      .card {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 300px;
        align-items: center;
        flex-direction: column;
        background: var(--black);
        color: var(--grey);
        padding: 15px;
        border-radius: 10px;
        transition-duration: 0.5s;

        &__title {
          font-size: 1.8rem;
        }

        &__temp {
          font-size: 7rem;
          font-weight: bold;
          color: var(--orange-light);
        }

        &__like-temp {
          font-size: 1.5rem;
          color: var(--blue-grey);
        }

        & div:nth-child(2) {
          display: grid;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: repeat(2, 1fr);
          gap: 5px;
          text-align: center;
          font-size: 1.3rem;
          width: 100%;

          p {
            display: flex;
            flex-direction: column;
            color: var(--orange-light);
            font-weight: bold;

            span {
              color: var(--grey);
              font-weight: bold;
            }
          }
        }
      }
    }

    &-hourly {
      font-size: 16px;
      grid-area: hourly;

      ::-webkit-scrollbar {
        display: none;
      }

      @media screen and (min-width: 768px) { 
        
      }
      
      &-content {
        display: flex;
        text-align: center;
        overflow: scroll;
        margin: 20px 0 30px;
        cursor: grab;


        .hourly {
          height: 140px;
          min-width: 140px;
          font-weight: 700;

          .temp {
            color: var(--orange-light);
          }
        }
      }
    }

    &-daily {
      max-width: 375px;
      justify-self: center;
      gap: 20px;
      grid-area: daily;

      @media screen and (min-width: 768px) { 
        
      }

      &-content {
        // display: flex;
        // text-align: center;
        // overflow: scroll;
        margin: 20px 0 30px;
        padding: 0 24px;

        .item {
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          margin: 0 0 10px;
          p {
            span {
              font-weight: 700;
            }
          }

          .temp {
            color: var(--orange-light);

            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
